<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Hack your Brain Game</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Hack Your Brian -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="../static/css/styles.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="app">
      <div class="row">
      <div class="">
        <h1>Hack Your Brain</h1>
        <ul id="mainnav">
  <li><a class="mainnavItem" href="#about" title="About">About</a></li>
  <li><a class="mainnavItem" href="#contact" title="Contact">Contact</a></li>
</ul>
        <div id="the-image" class="invisible-button">
          <a id="left" href="#"><div class="left"></div></a>
          <a id="right" href="#"><div class="right"></div></a>
        <img src="https://raw.githubusercontent.com/janauhrich/building-responsive-websites/master/code/build/custom/img/sushi.png"/>
         <br/> <button type="button" class="register2"><a style="color: white; text-decoration:none;" href="#" class="register-link"><strong>Play</strong></a></button>

        </div>

      </div>
      </div>
      </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
      <script src="https://use.fontawesome.com/64a5cea4a4.js"></script>
  </body>
</html>